:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 1;
}

#myForm {
  max-width: 20vw;
  padding: 20px;
  border: 1px black solid;
  border-radius: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 15px;
  z-index: 1001;
}

#myForm *{
  margin-bottom: 10px;
}
#myForm button{
  max-width: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
}
#myForm input{
  max-width: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}
#myForm label{
  font-size: 20px;
}
@media (min-width: 360px) and (max-width: 1440px) {
  #myForm label{
    font-size: calc(10px + 10 * (100vw - 360px) / 1080);
  }
}
.keyboard {
  z-index: 1001;
  position: fixed;
  top: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.keyboard p{
  margin-top: 30px;
  font-size: 40px;
}

.row {
  display: flex;
  gap: 10px;
}

.key {
  width: 80px;
  height: 80px;
  background: linear-gradient(145deg, #ffffff, #d1d1d1);
  box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.key:active {
  background: linear-gradient(145deg, #d1d1d1, #ffffff);
  box-shadow: inset 4px 4px 8px #bebebe, inset -4px -4px 8px #ffffff;
}

.key.empty {
  background: none;
  box-shadow: none;
  cursor: default;
}
